[color]
ui = auto

[alias]
st = status
ci = commit
cia = commit -a
co = checkout
br = branch
reup = stash
smoke = stash pop
coathanger = rebase --abort
some = rebase --continue
handy = !git rebase origin/$(git rev-parse --abbrev-ref HEAD)
fucked = rebase --interactive origin
incall = !git fetch && git handy
ff = merge --ff-only
pull = pull --rebase
sdiff = diff --staged
slog = shortlog
kgb = commit -a --amend
isis = commit --amend
#ciaclean = !git branch --merged origin/main | grep -vE "^\s*(\*|master|main)" | xargs -n 1 git branch -d

[user]
	name = Lance Cooper
	email = lcooper@eligoenergy.com
[github]
	user = deathwish
[push]
	default = current
[apply]
	whitespace = fix
[credential "https://git.heroku.com"]
	helper = !heroku git:credentials
