[color]
ui = auto

[alias]
st = status
ci = commit
cia = commit -a
co = checkout
br = branch
reup = stash
smoke = stash pop
coathanger = rebase --abort
some = rebase --continue
handy = rebase origin
fucked = rebase --interactive origin
incall = !git fetch && git handy
ff = merge --ff-only
pull = pull --rebase
slog = shortlog
kgb = commit -a --amend
isis = commit --amend

[user]
	name = Lance Cooper
	email = lance.m.cooper@gmail.com
[github]
	user = deathwish
[push]
	default = current
[apply]
	whitespace = fix
